* {
  box-sizing: border-box; }

@font-face {
  font-family: 'quadranta';
  src: url("quadranta.eot");
  src: url("quadranta.otf") format("truetype"), url("quadranta.woff") format("woff"), url("quadranta.eot?#iefix") format("embedded-opentype"), url("quadranta.svg#QuadrantaBold") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: fedraserifB;}
.clear {
  clear: both;
  height: 0;
  overflow: hidden; }
h1 {
    font-size: 2em;}

h2 {
    font-size: 1em; }
a {
  color: inherit;
  text-decoration: underline;
  font-size: 1em; }
img {
    max-width: 100%;
  height: auto;
}

#intro {
    background-color: forestgreen;
    padding: 10px 0;}

.top {
  display: block;
  padding: 0 10%; }

.ls {
  text-align: right;
  vertical-align: bottom;
  font-size: 1,2em;}

.menu {
    width: 100%;
    font-size: 0,7em; 
    padding: 1% 10%;
    background-color: forestgreen;
    z-index: 2;}

.menu-button {
  display: inline-block;
  margin: 0 5px; }
.menu-button > a {
  text-decoration: none; }
.header {
    position: fixed;
    top: 0;
}

.center {
    display: block;
    margin: auto;}

.timeline {
    position: relative;
    width: 100%;
    padding: 5px 2%;
    float: left;
    text-align: justify;
    display:block;}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 3px;
  height: 100%;
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    }

.desc {
    font-style: italic;
    font-size: 0.75em;
    padding: 10px;}

.article {
    color: darkblue;
    padding: 10px;}
.detail {
    display: block;
    clear: both;
    margin: 0 5%;
}

.ligne100 {
  width: 100%; }

.colonne100 {
  width: 100%;
  padding: 5px 5%; }

.colonne50 {
    display: inline-block;
  width: 50%;
  padding: 5px 5%;
  float: left;
  text-align: justify; }

.colonne50l {
    display: inline-block;
    width: 50%;
    padding: 5px 2% 5px 1%;
    float: left;
    text-align: justify; }

.colonne50r {
    display: inline-block;
    width: 50%;
    padding: 5px 1% 5px 2%;
    float: left;
    text-align: justify; }

.colonne50l .date{
    text-align: right; }

.colonne50r .date{
    text-align: left; }

.colonne33 {
  width: 33.33%;
  padding: 5px 5%;
  float: left; }

.jnatprod {
  background-image: url(./image/jnatprod.gif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 80px;}
.aca {
  background-image: url(./image/aca.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 80px;}
.tetra {
  background-image: url(./image/tetra.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 80px; }
.isvv {
    background-image: url(./image/ISVV.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height:100px;
    }
.ujf {
  background-image: url(./image/ujf.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 80px;}
.udem {
  background-image: url(./image/udem.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 80px;}
.udem1 {
  background-image: url(./image/udem1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 80px;}
.unistra {
  background-image: url(./image/unistra.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 80px;}
.ilc {
  background-image: url(./image/ilc.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 80px;}

